<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Synchronizer Token Pattern</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<body id="body">
  <div class="section">
    <h1>User Information</h1>
    <label>Name    : </label><label id="uname"></label>
    <br>
    <label>Email   : </label><label id="email"></label>
    <br>
    <label>GitHub  : </label><a id="git"></a>
    <br>
    <label>NicName : </label><label id="nic"></label>
  </div>
  <script type="text/javascript">
    function getUserData() {
      console.log('get User Data start');
      var urlParams = new URLSearchParams(window.location.search);
      var gcode = urlParams.get('code');
      $.ajax({
        type: "POST",
        data: { code: gcode },
        url: 'http://localhost:3000/userData',
        cache: false,
        success: function (userData) {
          var image = document.createElement("img");
          var imageParent = document.getElementById("body");
          image.id = "id";
          image.src = userData.avatar_url;
          imageParent.appendChild(image);

          var name = document.getElementById("uname");
          name.innerHTML = userData.name;

          var email = document.getElementById("email");
          email.innerHTML = userData.name;

          var git = document.getElementById("git");
          git.innerHTML = userData.html_url;
          git.href = userData.html_url;

          var nicn = document.getElementById("nic");
          nicn.innerHTML = userData.login;
          
          console.log(userData);
        }
      });
    }

    getUserData();
  </script>
</body>

</html>