<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Synchronizer Token Pattern</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<body>
  <div class="login">
    <h1>Login</h1>
    <p class="<%= className %>"><%= msg %></p>
    <form action="/login" method="POST">
      <input type="text" name="username" id="username" value="ssd" placeholder="Username" required="required" />
      <input type="password" name="password" id="password" value="123" placeholder="Password" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large" disabled>Sign In</button>
    </form>
    <a href="https://github.com/login/oauth/authorize?client_id=8c160841e901a6d02c3a&redirect_uri=http://localhost:3000/form&scope=user&state=123456&allow_signup=false">Signup with Github</a>
  </div>
</body>

</html>